{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
    <h1><strong>VOS AVIS</strong></h1>
    <a id ="creer_avis"href="{{ path('app_avis_new') }}">Creer un nouvel avis</a> 
    {% for avi in avis %}
        <ol>
            <li class="list-group-item d-flex justify-content-between align-items-start"id="avis" >
                <div class="ms-2 me-auto">
                <div class="list">{{ avi.users}} {{ avi.trajets }}</div>
                    {{ avi.commentaire }}   
                </div>
                <span class="badge bg-primary rounded-pill">{{ avi.note }}</span>      
            </li>
        </ol>
        <button type="button" class="btn btn-secondary button_show"><a href="{{ path('app_avis_show', {'id': avi.id}) }}" style="text-decoration:none; color:var(--txt-color)">détail</a></button>
    
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
    
    {# <h1 id='tavis'>Avis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>utilisateur</th>
                <th>Note</th>
                <th>trajet</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                <td>{{ avi.users}}</td>
                <td>{{ avi.note }}</td>
                <td>{{ avi.trajets }}</td>
                <td>{{ avi.commentaire }}</td>

                <td>
                    <a href="{{ path('app_avis_show', {'id': avi.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_avis_new') }}">Create new</a> #}
{% endblock %}
